<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add comment</title>
</head>
<body>
<form th:method="POST" th:action="@{/comment/save}" th:object="${comment}">
    <h2 th:text="${comment.article.title}"></h2>
    <h3 th:text="${comment.article.body}"></h3>
    <input type="hidden" th:attr="name='articleId'" th:value="${comment.article.id}">
    <br/>
    <label for="content"><h3>Enter your comment:</h3></label>
    <textarea th:field="*{content}" id="content"></textarea>
    <br/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>