<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<h1 style="color: darkslateblue">Sign in as user:</h1>

<span style="color: red" th:if="${session.containsKey('noUser')}" th:text="${session.noUser}"></span>

<form th:method="POST" th:action="@{/user/signIn}" th:object="${userDTO}">

    <label for="login"><h2>Enter your login:</h2></label>
    <input type="text" th:field="*{login}" id="login">
    <br/>
    <label for="password"><h2>Enter your password:</h2></label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>