<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="900" align="center" cellspacing="5" cellpadding="10">
    <tr>
        <td>
        <h2 th:if="${session.containsKey('user')}" >

            <a  th:href="@{/user}" th:text="${session.user}">user</a>

        </h2>
        </td>
    </tr>
    <tr>
        <td>
            <a  th:href="@{/article/new}" > Add new article</a>
        </td>
        <td>
            <a  th:href="@{/article}" > Show list of articles </a>
        </td>
    </tr>
</table>

</body>
</html>