<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Enter as editor</title>
</head>
<body>
<form th:method="POST" th:action="@{/editor/signIn}" th:object="${editor}">
    <label for="login"><h2>Enter your login:</h2></label>
    <input type="text" th:field="*{login}" id="login">
    <br/>
    <label for="password"><h2>Enter your password:</h2></label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>