<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Enter as editor</title>
</head>
<body>
<form th:method="POST" th:action="@{/editor/signIn}">
    <label for="login"><h2>Enter your login:</h2></label>
    <input type="text" th:value="${login}" id="login" name="login">
    <br/>
    <label for="password"><h2>Enter your password:</h2></label>
    <input type="password" th:value="${password}" id="password" name="password">
    <br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>