<!DOCTYPE html>
<html lang="en"   xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td><h1 align="centre">Welcome to KazNews website!!</h1></td>
    </tr>
    <tr>
        <td>
            <select id="category" >
                <option>Choose category</option>
                <option th:each = "category : ${categoryList}" th:value ="${category.id}" th:text ="${category.name}"> </option>
            </select>
        </td>
        <td>
            <a  th:href="@{/editor}"> Enter as editor</a>
        </td>
    </tr>
    <tr th:each="article:${freshNews}">
        <td>
            <h1 th:text="${article.title}"></h1>
            <h3 th:text="${article.body}"></h3>
        </td>
        <td ></td>
    </tr>

</table>
</body>
</html>