<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>article</title>
</head>
<body>
<table  border="1" style="width: 1000px">
    <tr>
        <th>
            <h2>Category</h2>
        </th>
        <th>
            <h2>Day posted</h2>
        </th>
        <th>
            <h2>Time posted</h2>
        </th>
        <th>
            <h2>Title</h2>
        </th>
        <th>
            <h2>Content</h2>
        </th>
    </tr>
    <tr>
        <td>
            <h2 th:text="${article.category.name}"> </h2>
        </td>
        <td>
            <h3 th:text="${article.whenPosted.toLocalDate()}"> </h3>
        </td>
        <td>
            <h3 th:text="${article.whenPosted.toLocalTime()}"> </h3>
        </td>
        <td>
            <h3 th:text="${article.title}"> </h3>
          </td>
        <td>
           <h3 th:text="${article.body}"> </h3>
          </td>
    </tr>
    <a  th:href="@{/editorLogin}" > Return to main page</a>
</table>

</body>
</html>