<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>article</title>
</head>
<body>
<table width="900" align="center" cellspacing="5" cellpadding="10">
    <tr>
        <th>
            <h2>Category</h2>
        </th>
        <th>
            <h2>Day posted</h2>
        </th>
        <th>
            <h2>Time posted</h2>
        </th>
        <th>
            <h2>Title</h2>
        </th>
        <th>
            <h2>Content</h2>
        </th>
    </tr>
    <tr>
        <td>
            <h2 th:text="${articleDTO.category.name}"> </h2>
        </td>
        <td>
            <h3 th:text="${articleDTO.whenPosted.toLocalDate()}"> </h3>
        </td>
        <td>
            <h3 th:text="${articleDTO.whenPosted.toLocalTime()}"> </h3>
        </td>
        <td>
            <h3 th:text="${articleDTO.title}"> </h3>
          </td>
        <td>
           <h3 th:text="${articleDTO.body}"> </h3>
          </td>
    </tr>

</table>

<a th:href="@{/user/editor}"> Return to main page</a>

</body>

</html>