<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read article</title>
</head>
<body>
<table>

    <tr>
        <td>
            <h3 style="color: indigo" th:text="${articleDTO.category.name}"> </h3>
            <h5 th:text="${articleDTO.whenPosted}"> </h5>
        </td>
    </tr>

    <tr>
        <td align="centre">
            <h1 style="color:red" th:text="${articleDTO.title}"> </h1>
        </td>
    </tr>

    <tr>
        <td>
            <h2 style="color: darkblue" th:text="${articleDTO.body}"> </h2>
        </td>
    </tr>

    <tr th:each="comment:${comments}">
        <td>
        <h4  style="color:darkviolet" th:text="${comment.content}"></h4>
        </td>
        <td>
        <h6 th:text="${comment.whenCreated.toLocalDate()}"></h6>
        </td>
    </tr>
    <tr>
            <td>
            <a th:href="@{/comment/new(articleId=${articleDTO.id})}" th:text="#{message.comment}" ></a>
        </td>
    </tr>

    <tr>
        <td>
            <a th:href="@{/}" th:text="#{reference.mainPage}"> </a>
        </td>
    </tr>

</table>
</body>
</html>