<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>

<body>

<h1>
<a  th:href="@{/user}"  th:text="${#authentication.principal.username}">user </a>
</h1>

<table border="1" width="900" align="center" cellspacing="5" cellpadding="10">
    <tr>
        <td>
            <h3 style="color: darkslateblue" th:text="#{label.user.login}"></h3>
        </td>
        <td>
            <h3 style="color: darkslateblue" th:text="#{label.user.roles}"></h3>
        </td>
        <td>
            <h3 style="color: darkslateblue" th:text="#{label.add.new.role}"></h3>
        </td>
        <td>
            <h3 style="color: darkslateblue" th:text="#{label.delete.role}"></h3>
        </td>
    </tr>

    <tr th:each="user:${allUsers}">
        <td>
            <h3 th:text="${user.login}"></h3>
        </td>
        <td>
            <div th:each="role:${user.userRoles}">
               <h3 th:text="${role.roleName}"> </h3>
            </div>
        </td>
        <td>
            <form th:method="POST" th:action="@{/role/add}">
                <input type="hidden" th:value="${user.id}" th:name="userId">
                <input type="checkbox" name="role"
                       th:value="${editor.roleName}" th:text="${editor.roleName}" >
                <input type="checkbox" name="role"
                       th:value="${admin.roleName}" th:text="${admin.roleName}" >
                <br/>
                <input type="submit"  th:value="#{button.add.role}">
            </form>
        </td>
        <td>
            <form th:method="POST" th:action="@{/role/delete}">
                <input type="hidden" th:value="${user.id}" th:name="userId">
                <input type="checkbox" name="role"
                       th:value="${editor.roleName}" th:text="${editor.roleName}" >
                <input type="checkbox" name="role"
                       th:value="${admin.roleName}" th:text="${admin.roleName}" >
                <br/>
                <input type="submit" th:value="#{button.delete.role}">
            </form>
        </td>
    </tr>

</table>

</body>
</html>